<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% nguoi.forEach((n) =>{ %>
        <div class="card" style="width: 18rem;">
            <img style="height: 300px; width: 300px;" src="<%= n['img'] %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%-n['ten']%></h5>
              <p class="card-text"><%-n['tuoi']%></p>
              <a href="https://www.facebook.com/thy.cam.735" class="btn btn-primary">Go Cam Thy</a>
            </div>
          </div>
    <% })  %>
</body>
</html>